
@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div class="container mt-5">
    <div class="card mx-auto" style="max-width: 600px">

        <div class="card-header bg-dark text-light fw-bold">

            <img style="width:30px" src="https://rerollcdn.com/GENSHIN/Elements/Element_Electro.png" alt="">
            Đăng nhập
        </div>

        <div class="card-body alert-info">
            <form method="POST" action="#">

                <div class="form-group row">
                    <label for="email" class="col-md-4 col-form-label text-md-right">Email</label>

                    <div class="col-md-6">
                        <input id="email" type="email" class="form-control" required autocomplete="email" autofocus>

                    </div>
                </div>
                <br />
                <div class="form-group row">
                    <label for="password" class="col-md-4 col-form-label text-md-right">Mật khẩu</label>

                    <div class="col-md-6">
                        <input id="password" type="password" class="form-control" name="password" required autocomplete="current-password">

                    </div>
                </div>
                <br />
                <div class="form-group row mb-0">
                    <div class="col-md-8 offset-md-4">
                        <button type="submit" class="btn btn-dark">
                            Đăng nhập
                        </button>
                    </div>
                </div>
                <a asp-controller="Main" asp-action="Index">Trở về trang chủ</a>
            </form>
        </div>
        @ViewData["tt"]
    </div>
</div>

