@{ Layout = "_CustomLayout";
                ViewData["Title"] = "Trang chủ";
                ViewData["tintuc"] = "tintuc"; }

<h1 class="display-5">Trang chủ</h1>
<p>@DateTime.Now</p>

<table class="table">
   
</table>