
@{
    ViewData["Title"] = "LienHe";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}


<div class="card my-3 mx-auto" style="max-width: 600px">

    <form action="" method="POST">

        <div class="form-group">
            <label>Nội dung</label>
            <textarea class="form-control" name="noidung" cols="30" rows="5" required></textarea>
        </div>
        <button type="submit" class="btn btn-secondary">Gửi</button>
        
       
    </form>
</div>
</div>