@model IEnumerable<WebApplication1.Models.Post>

@{
    ViewData["Title"] = "ListPost";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<h1>ListPost</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_post)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.title_post22)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.content_post)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
